/* Modal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 100%;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modalHeader h2 {
    margin: 0;
    font-size: 1.5em;
    color: #2c3e50;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.modalBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputLabel {
    margin-bottom: 5px;
    font-weight: bold;
    color: #2c3e50;
}

.inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitButton {
    width: 100%;
    padding: 10px;
    background-color: #f39c12;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #e67e22;
}
